@media (max-width:750px) {
    html {
        font-size: calc(100vw / 375);
    }

    .desk {
        display: none !important;
    }

    .mob {
        display: flex !important;
    }

    body {
        max-width: 375rem;
        background: var(--beige);
        margin: 0 auto;
    }

    .container {
        max-width: 343rem;
        width: 100%;
        margin: 0 auto;
    }


    .h1 {
        font-family: var(--adieu);
        font-weight: 400;
        font-size: 32rem;
        line-height: 35rem;
        letter-spacing: 0%;
    }

    .h2 {
        font-family: var(--adieu);
        font-weight: 400;
        font-size: 32rem;
        line-height: 35rem;
        letter-spacing: 0%;
    }

    .h3-regular {
        font-family: var(--adieu);
        font-weight: 400;
        font-size: 32rem;
        line-height: 35.2rem;
        letter-spacing: 0rem;
    }

    .h3-regular {
        font-family: var(--rubik);
        font-weight: 500;
        font-size: 32rem;
        line-height: 35.2rem;
        letter-spacing: 0rem;
    }

    .h4-regular {
        font-family: var(--adieu);
        font-weight: 400;
        font-size: 14.77rem;
        line-height: 16.25rem;
        letter-spacing: 0rem;
    }

    .h4-medium {
        font-family: var(--rubik);
        font-weight: 500;
        font-size: 16rem;
        line-height: 17.6rem;
        letter-spacing: 0rem;
    }

    .h5-regular {
        font-family: var(--adieu);
        font-weight: 400;
        font-size: 20rem;
        line-height: 22rem;
        letter-spacing: 0rem;
    }

    .h5-medium {
        font-family: var(--rubik);
        font-weight: 500;
        font-size: 16rem;
        line-height: 17.6rem;
        letter-spacing: 0rem;
    }

    .desc-regular {
        font-family: var(--rubik);
        font-weight: 400;
        font-size: 14rem;
        line-height: 16.8rem;
        letter-spacing: 0%;
    }

    .desc-medium {
        font-family: var(--rubik);
        font-weight: 500;
        font-size: 16rem;
        line-height: 19.2rem;
        letter-spacing: 0%;
    }


    .low-regular {
        font-family: var(--rubik);
        font-weight: 400;
        font-size: 14rem;
        line-height: 16.8rem;
        letter-spacing: 0rem;
    }

    .low-medium {
        font-family: var(--rubik);
        font-weight: 500;
        font-size: 14rem;
        line-height: 16.8rem;
        letter-spacing: 0%;
    }


    .caption-regular {
        font-family: var(--rubik);
        font-weight: 400;
        font-size: 12rem;
        line-height: 14.4rem;
        letter-spacing: 0rem;
    }

    .caption-medium {
        font-family: var(--rubik);
        font-weight: 500;
        font-size: 12rem;
        line-height: 14.4rem;
        letter-spacing: 0rem;
    }



    .btn-black {
        transition: all 0.3s ease;
    }

    .btn-black:hover {
        background: var(--yellow) !important;
        border-color: transparent;
    }

    .btn-yellow {
        transition: all 0.3s ease;
    }

    .btn-yellow:hover {
        background: var(--yellow-dark) !important;
    }

    .links-white {
        transition: all 0.3s ease;
    }

    .links-white:hover {
        color: var(--yellow) !important;

        svg {
            path {
                stroke: var(--yellow);
            }
        }
    }

    .links-yellow {
        transition: all 0.3s ease;
    }

    .links-yellow:hover {
        color: var(--white) !important;

        svg {
            path {
                stroke: var(--white);
            }
        }
    }

    .li-active {
        color: var(--yellow) !important;
        gap: 17rem !important;
        svg {
            rotate: 180deg;

            path {
                stroke: var(--yellow);
            }
        }
    }


    .main__wrap {
        background: var(--green-dark);
    }

    .main {
        position: relative;

        &__body {
            padding: 24rem 0 452rem 0rem;
        }

        .main__text {
            display: flex;
            flex-direction: column;
            gap: 24rem;

            h1 {
                color: #fff;
                text-transform: inherit;

                br {
                    display: none;
                }
            }

            p {
                max-width: 566rem;
                color: var(--white);
            }

            &-search {
                display: flex;
                align-items: center;
                gap: 8rem;
                margin-top: 16rem;

                input {
                    width: 239rem;
                    height: 41rem;
                    border-radius: 100rem;
                    background: var(--white);
                    border: 1rem solid var(--med-grey);
                    padding-left: 16rem;
                }

                input:placeholder {
                    color: var(--grey);
                }

                button {
                    font-family: var(--rubik);
                    font-weight: 500;
                    font-size: 14rem;
                    line-height: 16.8rem;
                    letter-spacing: 0rem;
                    text-align: center;
                    color: var(--black);
                    background: var(--yellow);
                    width: 96rem;
                    height: 41rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 1000rem;
                }
            }
        }

        .main__img {
            height: 343rem;
            width: 374rem;
            position: absolute;
            bottom: 54rem;
            right: 0rem;
        }

        .main__coffee {
            position: absolute;
            bottom: 94rem;
            left: 16rem;
            width: 347rem;
            height: 204rem;
        }


        .main__stroke {
            width: 100%;
            height: 220rem;
            overflow: hidden;
            position: absolute;
            left: 0;
            bottom: -150rem;
        }

        .main__stroke-body:nth-child(1) {
            width: 935rem;
            height: 49rem;
            background: var(--yellow-dark);
            rotate: 3deg;
            position: absolute;
            left: -280rem;
            top: 50rem;
        }

        .main__stroke-body:nth-child(2) {
            width: 917rem;
            height: 49rem;
            background: var(--yellow);
            rotate: -3deg;
            position: absolute;
            left: -267rem;
            top: 50rem;

            .main__stroke-body-wrap {
                animation: tickerTwo 10s linear infinite;
            }
        }

        .main__stroke-body {
            display: flex;
            align-items: center;
            overflow: hidden;

        }

        .main__stroke-body-wrap {
            display: flex;
            align-items: center;
            gap: 38.43rem;
            width: fit-content;
            animation: ticker 10s linear infinite;
            -webkit-transform-style: preserve-3d;
            position: absolute;

            img {
                width: 19.7rem;
                height: 19.7rem;
            }

            span {
                color: var(--black);
            }
        }
    }

    @keyframes ticker {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-51%);
        }
    }

    @keyframes tickerTwo {
        0% {
            transform: translateX(-51%);
        }

        100% {
            transform: translateX(0%);
        }
    }
    .header.active{
        background: var(--beige);
        .first{
            opacity: 0;
        }
        .second{
            opacity: 1;
        }
        .find{
            background: var(--black);
            span{
                color: var(--white);
            }
            svg{
                path{
                    stroke: var(--white);
                }
            }
        }
    }
    .header {
        width: 100%;
        transition: all 0.5s ease;
        .header__menu{
            width: 100%;
            position: fixed;
            top: 56rem;
            background: var(--beige);
            height: calc(100vh - 56rem);
            z-index: 100;
            padding: 16rem;
            transform: translateX(100%);
            transition: all 0.5s ease;
        }
        .header__menu.active{
            transform: translateX(0%);
        }
        &__body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 8rem 0;
            border-bottom: 1rem solid var(--grey);

            &-logo {
                width: 127rem;
                height: 36rem;
                position: relative;
                .first{
                    transition: all 0.5s ease;
                    opacity: 1;
                }
                .second{
                    transition: all 0.5s ease;
                    opacity: 0;
                }
                img {
                    position: absolute;
                    width: auto;
                    height: 100%;
                }
            }

            .hamburger {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .hamburger input {
                display: none;
            }

            .hamburger svg {
                /* The size of the SVG defines the overall size */
                height: 32rem;
                width: 32rem;
                /* Define the transition for transforming the SVG */
                transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .line {
                fill: none;
                stroke: white;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 1;
                /* Define the transition for transforming the Stroke */
                transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .line-top-bottom {
                stroke-dasharray: 12 63;
            }

            .hamburger input:checked+svg {
                transform: rotate(-45deg);
            }

            .hamburger input:checked+svg .line-top-bottom {
                stroke-dasharray: 20 300;
                stroke-dashoffset: -32.42;
                stroke: var(--red);
            }
            .hamburger input:checked+svg .line {
                stroke: var(--red);
            }

            &-menu {
                width: 100%;
                ul {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 0rem;
                    li {
                        width: 100%;
                        color: var(--black);
                        display: flex;
                        align-items: flex-start;
                        gap: 2rem;
                        cursor: pointer;
                        position: relative;
                        transition: all 0.5s ease;
                        flex-direction: column;
                        padding: 16rem 0;
                        border-bottom: 1rem var(--black);
                        border-style: dashed;
                        span{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                        }
                        svg {
                            width: 16rem;
                            height: 16rem;
                            transition: all 0.5s ease;
                            rotate: -90deg;
                            path {
                                transition: all 0.5s ease;
                                stroke: var(--black);
                            }
                        }

                        a {
                            position: relative;

                        }

                        a::before {
                            content: '';
                            position: absolute;
                            background: var(--yellow);
                            border-radius: 50%;
                            bottom: -4rem;
                            left: 50%;
                            width: 4rem;
                            height: 4rem;
                            transition: all 0.3s ease;
                            opacity: 0;
                            display: none;
                        }

                        .menu__wrapper {
                            width: 100%;
                            max-height: 0rem;
                            display: flex;
                            flex-direction: column;
                            gap: 8rem;
                            border-radius: 24rem;
                            background: var(--white);
                            position: static;
                            z-index: 100;
                            padding: 0 8rem;
                            transition: all 0.5s ease;
                            left: 0;
                            overflow: hidden;
                            li {
                                width: 100%;
                                padding: 0;
                                border: none;
                                a {
                                    width: 100%;
                                    padding: 8rem 16rem;
                                    border-radius: 100rem;
                                    background: transparent;
                                    color: var(--black);
                                }

                                a:before {
                                    display: none;
                                }
                            }
                        }

                        .menu__wrapper.active {
                            max-height: 800rem;
                            padding: 8rem;
                            border: 1rem solid var(--grey);

                        }


                    }

                    li.active {
                        color: var(--yellow);
                        a::before {
                            opacity: 1;
                        }
                    }

                    li:hover {
                        a::before {
                            opacity: 1;
                        }
                    }
                }
            }

            &-action {
                display: flex;
                align-items: center;
                gap: 8rem;

                a {
                    width: 40rem;
                    height: 40rem;
                    background: var(--white-so);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    svg {
                        width: 24rem;
                        height: 24rem;
                    }

                    .circle {
                        background: var(--yellow);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 14rem;
                        height: 14rem;
                        position: absolute;
                        font-family: var(--rubik);
                        font-weight: 400;
                        font-size: 10rem;
                        line-height: 11.85rem;
                        letter-spacing: 0%;
                        text-align: center;
                        color: var(--black);
                        top: 0;
                        right: 0;
                    }
                }

                button {
                    padding: 8rem 16rem;
                    background: var(--white);
                    display: flex;
                    align-items: center;
                    gap: 10rem;
                    color: var(--black);
                    border-radius: 100rem;
                    transition: all 0.5s ease;
                    span{
                        transition: all 0.5s ease;
                    }
                    svg {
                        width: 24rem;
                        height: 24rem;
                        path{
                            transition: all 0.5s ease;
                        }
                    }
                }
            }
        }
    }


    .footer {
        width: 100%;
        margin-top: 73rem;
        background: var(--green-dark);

        &__body {
            display: flex;
            flex-direction: column;
            width: 100%;

            &-top {
                padding: 16rem;
                border-bottom: 1rem solid var(--grey);
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 16rem;
                width: 100%;

                &-text {
                    display: flex;
                    flex-direction: column;
                    gap: 8rem;

                    h5 {
                        color: var(--yellow);
                        max-width: none;
                    }

                    p {
                        color: var(--white);
                        max-width: 215rem;
                    }
                }

                &-items {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    row-gap: 24rem;
                    column-gap: 48rem;

                    &-item {
                        display: flex;
                        align-items: center;
                        gap: 16rem;

                        .circle {
                            width: 48rem;
                            height: 48rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: var(--white-so);
                            border-radius: 50%;

                            img {
                                width: 32rem;
                                height: 32rem;
                            }
                        }

                        span {
                            font-family: var(--rubik);
                            font-weight: 500;
                            font-size: 16rem;
                            line-height: 17.6rem;
                            letter-spacing: 0rem;
                            color: var(--white);
                        }
                    }
                }
            }

            &-main {
                display: flex;
                flex-direction: column;
                gap: 8rem;
                padding: 32rem 16rem 8rem 16rem;

                &-start {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    border-bottom: 1rem solid var(--grey);
                    padding-bottom: 32rem;
                    row-gap: 16rem;

                    &-left {
                        display: flex;
                        flex-direction: column;
                        gap: 24rem;

                        &-logo {
                            display: flex;
                            flex-direction: column;
                            gap: 24rem;

                            a {
                                width: 127rem;
                                height: 36rem;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            &-action {
                                display: flex;
                                flex-direction: column;
                                gap: 8rem;

                                p {
                                    color: var(--white);
                                    max-width: 352rem;
                                }

                                &-form {
                                    display: flex;
                                    align-items: center;
                                    gap: 8rem;

                                    input {
                                        width: 252rem;
                                        height: 40rem;
                                        background: var(--white-so);
                                        border-radius: 1000rem;
                                        padding-left: 16rem;
                                        color: var(--white);
                                    }

                                    input:placeholder {
                                        color: var(--grey);
                                    }

                                    button {
                                        padding: 12.5rem 24rem;
                                        border-radius: 1000rem;
                                        background: var(--yellow);
                                        color: var(--black);
                                        font-family: var(--rubik);
                                        font-weight: 500;
                                        font-size: 14rem;
                                        line-height: 15.4rem;
                                        letter-spacing: 0rem;
                                        text-align: center;

                                    }
                                }
                            }
                        }

                        &-social {
                            display: flex;
                            flex-direction: column;
                            gap: 16rem;

                            div:nth-child(1) {
                                display: flex;
                                align-items: center;
                                gap: 16rem;

                                a {
                                    width: 24rem;
                                    height: 24rem;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }

                            div:nth-child(2) {
                                display: flex;
                                align-items: center;
                                gap: 8rem;

                                a {
                                    width: 90rem;
                                    height: 26rem;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }

                    &-menu:nth-child(2) {
                        margin-right: 65rem;
                    }

                    &-menu {
                        display: flex;
                        flex-direction: column;
                        gap: 16rem;

                        h4 {
                            color: var(--white);
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: 16rem;

                            li {
                                color: var(--white);
                            }
                        }
                    }
                }

                &-end {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 4rem;

                    P {
                        text-align: center;
                        color: var(--grey);

                        a {
                            color: var(--yellow);
                        }
                    }

                    button {
                        display: flex;
                        align-items: center;
                        color: var(--yellow);
                        background: transparent;

                        svg {
                            width: 24rem;
                            height: 24rem;
                        }
                    }
                }
            }
        }
    }


    .attribute {
        padding-top: 92rem;
        width: 100%;

        &__body {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 16rem;

            &-wrap {
                display: flex;
                row-gap: 24rem;
                column-gap: 16rem;

                &-item {
                    display: flex;
                    flex-direction: column;
                    gap: 16rem;
                    width: 163.5rem;

                    .circle {
                        width: 48rem;
                        height: 48rem;
                        background: var(--green-dark);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 24rem;
                            height: 24rem;
                        }
                    }

                    span {
                        color: var(--black);
                        margin-top: 8rem;
                    }

                    p {
                        color: var(--black);
                        max-width: 266rem;
                    }
                }
            }

            &-img {
                width: 214rem;
                height: 220rem;
            }
        }
    }

    .program {
        margin-top: 80rem;
        width: 100%;

        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16rem;

            h2 {
                color: var(--green-dark);
                text-align: center;
            }

            .description {
                color: var(--black);
                text-align: center;
            }

            &-wrap {
                margin-top: 8rem;
                display: flex;
                gap: 24rem;

                &-item {
                    width: 333rem !important;
                    background: var(--white);
                    border-radius: 24rem;
                    display: flex;
                    flex-direction: column;
                    gap: 16rem;
                    margin-right: 8rem !important;
                    &-top {
                        width: 100%;
                        height: 216rem;
                        position: relative;
                        padding: 12rem;
                        display: flex;
                        justify-content: space-between;

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 0;
                        }

                        &-attr {
                            position: relative;
                            z-index: 1;
                            display: flex;
                            flex-direction: column;
                            gap: 4rem;

                            span {
                                padding: 4rem 8rem;
                                border-radius: 1000rem;
                                color: var(--white);
                                max-width: max-content;
                            }

                            span:nth-child(1) {
                                background: var(--red);
                            }

                            span:nth-child(2) {
                                background: var(--green);
                            }

                            span:nth-child(3) {
                                background: var(--black);
                            }
                        }

                        &-like {
                            position: relative;
                            z-index: 1;
                            width: 40rem;
                            height: 40rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: var(--white);
                            border-radius: 50%;

                            svg {
                                width: 24rem;
                                height: 24rem;

                                path {
                                    transition: all 0.3s ease;
                                }
                            }
                        }

                        &-like:hover {
                            svg {
                                path {
                                    fill: var(--red);
                                    stroke: var(--red);
                                }
                            }
                        }
                    }

                    &-bot {
                        display: flex;
                        flex-direction: column;
                        gap: 12rem;
                        padding: 0 16rem 16rem 16rem;

                        &-text {
                            display: flex;
                            flex-direction: column;
                            gap: 4rem;

                            span {
                                color: var(--grey);
                                font-size: 12rem;
                                line-height: 14rem;
                            }

                            p {
                                font-family: var(--rubik);
                                font-weight: 500;
                                font-size: 14rem;
                                line-height: 16rem;
                                letter-spacing: 0rem;
                                color: var(--black);
                                transition: all 0.3s ease;
                            }
                        }

                        &-action {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            &-el {
                                display: flex;
                                align-items: center;
                                gap: 4rem;

                                svg {
                                    width: 24rem;
                                    height: 24rem;
                                }
                            }
                        }
                    }
                }

                &-item:hover {
                    .program__body-wrap-item-bot {
                        .program__body-wrap-item-bot-text {
                            p {
                                color: var(--yellow);
                            }
                        }
                    }
                }
            }
            
        }
        .splide{
            width: 359rem;
            margin-left: 16rem;
            margin-top: 24rem;
            .splide__pagination{
                bottom: -2em;
                .splide__pagination__page{
                    width: 4rem;
                    height: 4rem;
                    min-width: 4rem;
                    min-height: 4rem;
                    background: var(--green-dark);
                    margin: 8rem;
                    opacity: 1;
                    transition: all 0.3s ease;
                }
                .splide__pagination__page.is-active{
                    background: var(--yellow) !important;
                    scale: 3;
                }
                .splide__pagination__page.medium{
                    scale: 2;
                }
            }
        }
    }

    .try {
        width: 100%;
        margin-top: 80rem;

        &__body {
            padding: 16rem;
            background: var(--green-dark);
            position: relative;
            border-radius: 24rem;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 24rem;

            &-img {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 0;
                bottom: 0;
                left: 0;
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: 16rem;
                position: relative;
                z-index: 1;

                h2 {
                    color: var(--white);
                    text-transform: initial;
                }

                p {
                    color: var(--white);
                    max-width: 644rem;
                }
            }

            &-ingredients {
                display: flex;
                flex-direction: column;
                gap: 16rem;
                width: 100%;
                position: relative;
                z-index: 1;

                &-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 6rem;

                    a {
                        padding: 8rem 16rem;
                        border-radius: 1000rem;
                        background: var(--white);
                        border: 1rem solid var(--yellow);
                    }
                }

                &-btn {
                    color: var(--yellow);
                    max-width: max-content;
                    background: transparent;
                    font-family: var(--rubik);
                    font-weight: 500;
                    font-size: 16rem;
                    line-height: 17.6rem;
                    letter-spacing: 0rem;

                }
            }
        }
    }

    .experiment {
        width: 100%;
        margin-top: 80rem;

        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24rem;

            &-text {
                display: flex;
                flex-direction: column;
                gap: 16rem;
                align-items: center;

                h2 {
                    color: var(--green-dark);
                    text-transform: inherit;
                    text-align: center;
                }

                p {
                    color: var(--black);
                    text-align: center;
                }
            }

            &-categories {
                display: flex;
                flex-wrap: wrap;
                row-gap: 16rem;
                column-gap: 8rem;

                &-item {
                    width: 167.5rem;
                    height: auto;
                    position: relative;
                    padding: 0rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    border-radius: 24rem;
                    overflow: hidden;
                    background: var(--white);

                    img {
                        width: 100%;
                        min-height: 120rem;
                        height: 120rem;
                        position: static;
                        top: 0;
                        left: 0;
                        z-index: 0;
                        border-radius: 24rem;
                    }

                    &-wrap {
                        position: relative;
                        z-index: 1;
                        width: 100%;
                        border-radius: 24rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background: transparent;
                        padding: 8rem 8rem;

                        div {
                            display: flex;
                            flex-direction: column;
                            gap: 8rem;

                            h4 {
                                color: var(--black);
                                max-width: 100rem;
                            }

                            p {
                                color: var(--black);
                                font-size: 12rem;
                                line-height: 14rem;
                            }
                        }

                        a {
                            width: 32rem;
                            height: 32rem;
                            min-width: 32rem;
                            min-height: 32rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            background: var(--yellow);

                            svg {
                                width: 24rem;
                                height: 24rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .popular {
        width: 100%;
        margin-top: 80rem;

        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24rem;

            &-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16rem;

                h2 {
                    color: var(--green-dark);
                    text-transform: inherit;
                    text-align: center;
                }

                p {
                    color: var(--black);
                    max-width: 700rem;
                    text-align: center;
                }
            }

            &-block {
                display: flex;
                gap: 24rem;

                &-item {
                    width: 300rem !important;
                    height: 300rem;
                    position: relative;
                    border-radius: 24rem;
                    overflow: hidden;
                    padding: 16rem;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    margin-right: 8rem !important;
                    &-hot {
                        position: absolute;
                        top: 16rem;
                        left: 16rem;
                        padding: 4rem 8rem;
                        background: var(--red);
                        color: var(--white);
                        z-index: 1;
                        border-radius: 1000rem;
                    }

                    img {
                        width: auto;
                        height: auto;
                        position: absolute;
                        z-index: 0;
                        top: 0;
                    }

                    &-grad {
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(180deg, rgba(29, 29, 27, 0) 0%, #1D1D1B 100%);
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }

                    &-wrap {
                        position: relative;
                        z-index: 2;
                        display: flex;
                        flex-direction: column;
                        gap: 8rem;

                        span {
                            color: var(--white);
                            font-family: var(--rubik);
                            font-weight: 500;
                            font-size: 16rem;
                            line-height: 17.6rem;
                            letter-spacing: 0rem;
                        }

                        p {
                            color: var(--white);
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        a {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 8rem 16rem;
                            background: var(--yellow);
                            color: var(--black);
                            border-radius: 24rem;

                            svg {
                                width: 24rem;
                                height: 24rem;
                            }
                        }
                    }
                }
            }
            .splide{
                width: 359rem;
                margin-left: 16rem;
                .splide__pagination{
                    bottom: -2em;
                    .splide__pagination__page{
                        width: 4rem;
                        height: 4rem;
                        min-width: 4rem;
                        min-height: 4rem;
                        background: var(--green-dark);
                        margin: 8rem;
                        opacity: 1;
                        transition: all 0.3s ease;
                    }
                    .splide__pagination__page.is-active{
                        background: var(--yellow) !important;
                        scale: 3;
                    }
                    .splide__pagination__page.medium{
                        scale: 2;
                    }
                }
            }
            &-btn {
                padding: 12rem 32rem;
                border-radius: 1000rem;
                border: 1rem solid var(--green-dark);
                background: transparent;
                color: var(--green-dark);
                font-family: var(--rubik);
                font-weight: 500;
                font-size: 14rem;
                line-height: 16rem;
                letter-spacing: 0rem;
                text-align: center;
                width: 100%;
                margin-top: 24rem;
            }
        }
    }

    .daily {
        width: 100%;
        margin-top: 80rem;

        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24rem;

            &-text {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 16rem;

                h2 {
                    color: var(--green-dark);
                    text-transform: inherit;
                    text-align: center;
                }

                p {
                    color: var(--black);
                    max-width: 700rem;
                    text-align: center;
                }
            }

            &-wrap {
                display: flex;
                gap: 24rem;

                &-item {
                    width: 334rem !important;
                    height: 275rem !important;
                    background: var(--white);
                    border-radius: 24rem;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    gap: 16rem;
                    margin-right: 8rem !important;
                    &-top {
                        width: 100%;
                        height: 200rem;
                        position: relative;
                        padding: 12rem;

                        img {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 0;
                        }

                        span {
                            color: var(--black);
                            padding: 4rem 12rem;
                            border-radius: 1000rem;
                            background: var(--yellow);
                            position: relative;
                            z-index: 1;
                        }
                    }

                    &-bot {
                        display: flex;
                        flex-direction: column;
                        gap: 8rem;
                        padding: 0 16rem;

                        &-action {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;

                            div {
                                display: flex;
                                align-items: center;
                                gap: 4rem;

                                img {
                                    width: 16rem;
                                    height: 16rem;
                                }

                                span {
                                    color: var(--grey);
                                }
                            }
                        }
                    }
                }

            }
            .splide{
                width: 359rem;
                margin-left: 16rem;
                .splide__pagination{
                    bottom: -2em;
                    .splide__pagination__page{
                        width: 4rem;
                        height: 4rem;
                        min-width: 4rem;
                        min-height: 4rem;
                        background: var(--green-dark);
                        margin: 8rem;
                        opacity: 1;
                        transition: all 0.3s ease;
                    }
                    .splide__pagination__page.is-active{
                        background: var(--yellow) !important;
                        scale: 3;
                    }
                    .splide__pagination__page.medium{
                        scale: 2;
                    }
                }
            }
            &-btn {
                padding: 12rem 32rem;
                width: 100%;
                border-radius: 1000rem;
                border: 1rem solid var(--green-dark);
                background: transparent;
                color: var(--green-dark);
                font-family: var(--rubik);
                font-weight: 500;
                font-size: 14rem;
                line-height: 16rem;
                letter-spacing: 0rem;
                text-align: center;
                margin-top: 24rem;
            }
        }
    }
}