<section class="bread">
    <div class="container-soft">
        <div class="bread__body">
            <div class="bread__body-top">
                <a class="caption-regular" href="">Home</a>
                <p class="caption-regular">/</p>
                <a class="caption-regular" href="">Recipes</a>
                <p class="caption-regular">/</p>
                <a class="caption-regular" href="">Name of Category</a>
                <p class="caption-regular">/</p>
                <span class="caption-regular">Royal Coffee with honey, cream and brandy</span>
            </div>
            <!-- <div class="bread__body-main">
                <h1 class="h3-regular">Recipes</h1>
                <p class="desc-regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div> -->
        </div>
    </div>
</section>