<footer class="footer">
    <div class="footer__body">
        <div class="footer__body-top">
            <div class="footer__body-top-text">
                <h5 class="h5-regular">Brew the coffee in any preferred way</h5>
                <p class="desc-regular">Use the equipment you have</p>
            </div>
            <div class="footer__body-top-items">
                <div class="footer__body-top-items-item">
                    <div class="circle">
                        <img src="../images/dist/footer/1.svg" alt="">
                    </div>
                    <span>Сoffee maker</span>
                </div>
                <div class="footer__body-top-items-item">
                    <div class="circle">
                        <img src="../images/dist/footer/2.svg" alt="">
                    </div>
                    <span>Chemex</span>
                </div>
                <div class="footer__body-top-items-item">
                    <div class="circle">
                        <img src="../images/dist/footer/3.svg" alt="">
                    </div>
                    <span>Coffee Press (cafetiere)</span>
                </div>
                <div class="footer__body-top-items-item">
                    <div class="circle">
                        <img src="../images/dist/footer/4.svg" alt="">
                    </div>
                    <span>AeroPress</span>
                </div>
                <div class="footer__body-top-items-item">
                    <div class="circle">
                        <img src="../images/dist/footer/5.svg" alt="">
                    </div>
                    <span>Moka pot</span>
                </div>
            </div>
        </div>
        <div class="footer__body-main">
            <div class="footer__body-main-start">
                <div class="footer__body-main-start-left">
                    <div class="footer__body-main-start-left-logo">
                        <a href="">
                            <img src="../images/dist/logo.svg" alt="">
                        </a>
                        <div class="footer__body-main-start-left-logo-action">
                            <p class="desc-regular">Stay updated on all the latest KusCoffee products, events & community news</p>
                            <form action="" class="footer__body-main-start-left-logo-action-form">
                                <input class="low-regular" placeholder="Your E-mail" type="text">
                                <button class="btn-yellow">Send</button>
                            </form>
                        </div>
                    </div>
                    <div class="footer__body-main-start-left-social">
                        <div>
                            <a href="">
                                <img src="../images/dist/social/1.png" alt="">
                            </a>
                            <a href="">
                                <img src="../images/dist/social/2.png" alt="">
                            </a>
                            <a href="">
                                <img src="../images/dist/social/3.png" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <img src="../images/dist/social/4.png" alt="">
                            </a>
                            <a href="">
                                <img src="../images/dist/social/5.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <nav class="footer__body-main-start-menu">
                    <h4 class="h4-regular">
                        Menu
                    </h4>
                    <ul>
                        <li>
                            <a class="low-regular links-white" href="">
                                Home
                            </a>
                        </li>
                        <li>
                            <a class="low-regular links-white" href="">
                                Daily Inspiration
                            </a>
                        </li>
                        <li>
                            <a class="low-regular links-white" href="">
                                Recipes
                            </a>
                        </li>
                        <li>
                            <a class="low-regular links-white" href="">
                                Ingredients
                            </a>
                        </li>
                        <li>
                            <a class="low-regular links-white" href="">
                                Club
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer__body-main-start-menu">
                    <h4 class="h4-regular">
                        Information
                    </h4>
                    <ul>
                        <li>
                            <a class="low-regular links-white" href="">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a class="low-regular links-white" href="">
                                Terms of Service
                            </a>
                        </li>
                        <li>
                            <a class="low-regular links-white" href="">
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a class="low-regular links-white" href="">
                                Human Rights Policy
                            </a>
                        </li>
                        <li>
                            <a class="low-regular links-white" href="">
                                Whistleblower Procedure
                            </a>
                        </li>
                        <li>
                            <a class="low-regular links-white" href="">
                                Modern Slavery Statement
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer__body-main-start-menu">
                    <h4 class="h4-regular">
                        Shop
                    </h4>
                    <ul>
                        <li>
                            <a class="low-regular links-white" href="">
                                Account
                            </a>
                        </li>
                        <li>
                            <a class="low-regular links-white" href="">
                                Setting
                            </a>
                        </li>
                        <li>
                            <a class="low-regular links-white" href="">
                                Wish list
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__body-main-end">
                <p class="low-regular">Develop by <a class="links-yellow" href="https://www.cosmo-design.com/">Cosmo Design</a></p>
                <p class="low-regular">Copyright © 2024 Kuscoffee Limited. All rights reserved.</p>
                <button class="low-medium top-btn links-yellow">
                    Back to top
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 14L11.9992 9.42L7 14" stroke="#F9C000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </button>
            </div>
        </div>
    </div>
</footer>