<header class="header header-soft">
    <div class="container">
        <div class="header__body">
            <a href="/" class="header__body-logo">
                <img class="second" src="../images/dist/black__logo.svg" alt="">
            </a>
            <nav class="header__body-menu desk">
                <ul>
                    <li class="low-medium active links-white">
                        <a href="">
                            Home
                        </a>
                    </li>
                    <li class="low-medium links-white">
                        <a href="">
                            Daily Inspiration
                        </a>
                    </li>
                    <li class="low-medium menu-recipes links-white">
                        Recipes
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 6L8.00081 10.58L13 6" stroke="white" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <ul class="menu__wrapper">
                            <li>
                                <a class="btn-black" href="">
                                    Spices
                                </a>
                            </li>
                            <li>
                                <a class="btn-black" href="">
                                    Fruits
                                </a>
                            </li>
                            <li>
                                <a class="btn-black" href="">
                                    Syrups
                                </a>
                            </li>
                            <li>
                                <a class="btn-black" href="">
                                    Latte
                                </a>
                            </li>
                            <li>
                                <a class="btn-black" href="">
                                    Unusual
                                </a>
                            </li>
                            <li>
                                <a class="btn-black" href="">
                                    Gorky
                                </a>
                            </li>
                            <li>
                                <a class="btn-black" href="">
                                    Sweet
                                </a>
                            </li>
                            <li>
                                <a class="btn-black" href="">
                                    Spicy
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="low-medium links-white">
                        Ingredients
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 6L8.00081 10.58L13 6" stroke="white" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </li>
                    <li class="low-medium links-white">
                        <a href="">
                            Club
                        </a>
                    </li>
                    <li class="low-medium links-white">
                        <a href="">
                            Shop
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header__body-action">
                <a class="desk" href="">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M3.80625 6.20641C4.70639 5.30655 5.92707 4.80104 7.19985 4.80104C8.47264 4.80104 9.69332 5.30655 10.5935 6.20641L11.9999 7.61161L13.4063 6.20641C13.849 5.74796 14.3787 5.38229 14.9643 5.13072C15.5499 4.87916 16.1798 4.74675 16.8171 4.74121C17.4545 4.73567 18.0865 4.85712 18.6764 5.09847C19.2663 5.33982 19.8023 5.69623 20.2529 6.14691C20.7036 6.5976 21.06 7.13353 21.3014 7.72343C21.5427 8.31333 21.6642 8.9454 21.6587 9.58274C21.6531 10.2201 21.5207 10.8499 21.2691 11.4356C21.0176 12.0212 20.6519 12.5508 20.1934 12.9936L11.9999 21.1884L3.80625 12.9936C2.90639 12.0935 2.40088 10.8728 2.40088 9.60001C2.40088 8.32722 2.90639 7.10654 3.80625 6.20641V6.20641Z"
                            stroke="white" stroke-width="1.5" stroke-linejoin="round" />
                    </svg>
                    <div class="circle">0</div>
                </a>
                <a class="desk" href="">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M2.3999 20.5124C2.3999 16.7369 5.55419 13.6762 11.9999 13.6762C18.4456 13.6762 21.5999 16.7369 21.5999 20.5124C21.5999 21.1131 21.1617 21.6 20.6211 21.6H3.37873C2.83814 21.6 2.3999 21.1131 2.3999 20.5124Z"
                            stroke="white" stroke-width="1.5" />
                        <path
                            d="M15.5999 5.99999C15.5999 7.98822 13.9881 9.59999 11.9999 9.59999C10.0117 9.59999 8.3999 7.98822 8.3999 5.99999C8.3999 4.01177 10.0117 2.39999 11.9999 2.39999C13.9881 2.39999 15.5999 4.01177 15.5999 5.99999Z"
                            stroke="white" stroke-width="1.5" />
                    </svg>
                </a>
                <button class="btn-black find">
                    <span class="low-medium">Find Recipe</span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16.927 17.04L20.4001 20.4M11.4001 7.20001C13.3883 7.20001 15.0001 8.81178 15.0001 10.8M19.2801 11.44C19.2801 15.7699 15.77 19.28 11.4401 19.28C7.11018 19.28 3.6001 15.7699 3.6001 11.44C3.6001 7.11009 7.11018 3.60001 11.4401 3.60001C15.77 3.60001 19.2801 7.11009 19.2801 11.44Z"
                            stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </button>
            </div>
            <label class="hamburger mob">
                <input type="checkbox">
                <svg viewBox="0 0 32 32">
                    <path class="line line-top-bottom"
                        d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
                    </path>
                    <path class="line" d="M7 16 27 16"></path>
                </svg>
            </label>
        </div>
    </div>
    <div class="header__menu mob">
        <nav class="header__body-menu">
            <ul>
                <li class="low-medium active links-white">
                    <a href="">
                        Home
                    </a>
                </li>
                <li class="low-medium links-white">
                    <a href="">
                        Daily Inspiration
                    </a>
                </li>
                <li class="low-medium menu-recipes links-white">
                    <span>
                        Recipes
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 6L8.00081 10.58L13 6" stroke="white" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                    <ul class="menu__wrapper">
                        <li>
                            <a class="btn-black" href="">
                                Spices
                            </a>
                        </li>
                        <li>
                            <a class="btn-black" href="">
                                Fruits
                            </a>
                        </li>
                        <li>
                            <a class="btn-black" href="">
                                Syrups
                            </a>
                        </li>
                        <li>
                            <a class="btn-black" href="">
                                Latte
                            </a>
                        </li>
                        <li>
                            <a class="btn-black" href="">
                                Unusual
                            </a>
                        </li>
                        <li>
                            <a class="btn-black" href="">
                                Gorky
                            </a>
                        </li>
                        <li>
                            <a class="btn-black" href="">
                                Sweet
                            </a>
                        </li>
                        <li>
                            <a class="btn-black" href="">
                                Spicy
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="low-medium links-white">
                    <span>
                        Ingredients
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 6L8.00081 10.58L13 6" stroke="white" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                </li>
                <li class="low-medium links-white">
                    <a href="">
                        Club
                    </a>
                </li>
                <li class="low-medium links-white">
                    <a href="">
                        Shop
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>