<section class="ingredients">
    <div class="container-soft">
        <div class="ingredients__body">
            <div class="ingredients__body-filter">
                <div class="ingredients__body-filter-top desk">
                    <span class="h5-regular">
                        Category
                    </span>
                    <button class="low-regular">
                        Clear
                    </button>
                </div>
                <div class="ingredients__body-filter-wrap desk">
                    <a class="active" href="">
                        <p>Spice and Herbs</p>
                        <span class="caption-regular">
                            (123)
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15L12.58 9.99919L8 5" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </span>
                    </a>
                    <a href="">
                        <p>Syrups</p>
                        <span class="caption-regular">
                            (123)
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15L12.58 9.99919L8 5" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </span>
                    </a>
                    <a href="">
                        <p>Daily Products</p>
                        <span class="caption-regular">
                            (123)
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15L12.58 9.99919L8 5" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </span>
                    </a>
                    <a href="">
                        <p>Nuts and Seeds</p>
                        <span class="caption-regular">
                            (123)
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15L12.58 9.99919L8 5" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </span>
                    </a>
                    <a href="">
                        <p>Alcohol</p>
                        <span class="caption-regular">
                            (123)
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15L12.58 9.99919L8 5" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </span>
                    </a>
                    <a href="">
                        <p>Fruits and Berries</p>
                        <span class="caption-regular">
                            (123)
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15L12.58 9.99919L8 5" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </span>
                    </a>
                    <a href="">
                        <p>Vegetables and Greens</p>
                        <span class="caption-regular">
                            (123)
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15L12.58 9.99919L8 5" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </span>
                    </a>
                    <a href="">
                        <p>Unusual Coffee Ingredients</p>
                        <span class="caption-regular">
                            (123)
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15L12.58 9.99919L8 5" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </span>
                    </a>
                    <a href="">
                        <p>Jucies, Purees and Liquids</p>
                        <span class="caption-regular">
                            (123)
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15L12.58 9.99919L8 5" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </span>
                    </a>
                    <a href="">
                        <p>Coffee</p>
                        <span class="caption-regular">
                            (123)
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15L12.58 9.99919L8 5" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </span>
                    </a>
                </div>
                <div class="ingredients__body-filter-rec">
                    <span class="h5-regular">We recommend using:</span>
                    <div>
                        <a class="low-regular" href="">
                            milk
                        </a>
                        <a class="low-regular" href="">
                            water
                        </a>
                        <a class="low-regular" href="">
                            anise
                        </a>
                        <a class="low-regular" href="">
                            cardamom
                        </a>
                        <a class="low-regular" href="">
                            black tea
                        </a>
                        <a class="low-regular" href="">
                            caramel syrup
                        </a>
                    </div>
                </div>
            </div>
            <div class="ingredients__body-main">
                <div class="ingredients__body-main-search">
                    <div class="ingredients__body-main-search-wrap">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.927 17.54L20.4001 20.9M11.4001 7.70001C13.3883 7.70001 15.0001 9.31178 15.0001 11.3M19.2801 11.94C19.2801 16.2699 15.77 19.78 11.4401 19.78C7.11018 19.78 3.6001 16.2699 3.6001 11.94C3.6001 7.61009 7.11018 4.10001 11.4401 4.10001C15.77 4.10001 19.2801 7.61009 19.2801 11.94Z" stroke="#878787" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>                            
                        <input class="low-regular" placeholder="Поиск" type="text">
                    </div>
                    <button class="btn-yellow low-medium desk">
                        Search
                    </button>
                    <button>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.46154 12H17.5385M4 7H20M10.1538 17H13.8462" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </button>
                    <div class="ingredients__body-main-search-block desk">
                        <button class="low-regular">
                            Milk
                        </button>
                        <button class="low-regular">
                            Water
                        </button>
                        <button class="low-regular">
                            Anise
                        </button>
                        <button class="low-regular">
                            Cardamon
                        </button>
                        <button class="low-regular">
                            Black tea
                        </button>
                        <button class="low-regular">
                            Caramel Syrup
                        </button>
                        <button class="low-regular">
                            Milk
                        </button>
                        <button class="low-regular">
                            Water
                        </button>
                        <button class="low-regular">
                            Anise
                        </button>
                        <button class="low-regular">
                            Cardamon
                        </button>
                        <button class="low-regular">
                            Black tea
                        </button>
                        <button class="low-regular">
                            Caramel Syrup
                        </button>
                        <button class="low-regular">
                            Milk
                        </button>
                        <button class="low-regular">
                            Water
                        </button>
                        <button class="low-regular">
                            Anise
                        </button>
                        <button class="low-regular">
                            Cardamon
                        </button>
                        <button class="low-regular">
                            Black tea
                        </button>
                        <button class="low-regular">
                            Caramel Syrup
                        </button>
                        <button class="low-regular">
                            Milk
                        </button>
                        <button class="low-regular">
                            Water
                        </button>
                        <button class="low-regular">
                            Anise
                        </button>
                        <button class="low-regular">
                            Cardamon
                        </button>
                        <button class="low-regular">
                            Black tea
                        </button>
                        <button class="low-regular">
                            Caramel Syrup
                        </button>
                        <button class="low-regular">
                            Milk
                        </button>
                        <button class="low-regular">
                            Water
                        </button>
                        <button class="low-regular">
                            Anise
                        </button>
                        <button class="low-regular">
                            Cardamon
                        </button>
                        <button class="low-regular">
                            Black tea
                        </button>
                        <button class="low-regular">
                            Caramel Syrup
                        </button>
                        <button class="low-regular">
                            Milk
                        </button>
                        <button class="low-regular">
                            Water
                        </button>
                        <button class="low-regular">
                            Anise
                        </button>
                        <button class="low-regular">
                            Cardamon
                        </button>
                        <button class="low-regular">
                            Black tea
                        </button>
                        <button class="low-regular">
                            Caramel Syrup
                        </button>
                    </div>
                </div>
                <div class="ingredients__body-main-word">
                    <a class="active" href="">
                        All
                    </a>
                    <a href="">
                        A
                    </a>
                    <a href="">
                        B
                    </a>
                    <a href="">
                        C
                    </a>
                    <a href="">
                        D
                    </a>
                    <a href="">
                        E
                    </a>
                    <a href="">
                        F
                    </a>
                    <a href="">
                        G
                    </a>
                    <a href="">
                        H
                    </a>
                    <a href="">
                        I
                    </a>
                    <a href="">
                        J
                    </a>
                    <a href="">
                        K
                    </a>
                    <a href="">
                        L
                    </a>
                    <a href="">
                        M
                    </a>
                    <a href="">
                        N
                    </a>
                    <a href="">
                        O
                    </a>
                    <a href="">
                        P
                    </a>
                    <a href="">
                        Q
                    </a>
                    <a href="">
                        R
                    </a>
                    <a href="">
                        S
                    </a>
                    <a href="">
                        T
                    </a>
                    <a href="">
                        U
                    </a>
                    <a href="">
                        V
                    </a>
                    <a href="">
                        W
                    </a>
                    <a href="">
                        X
                    </a>
                    <a href="">
                        Y
                    </a>
                    <a href="">
                        Z
                    </a>

                </div>
                <div class="ingredients__body-main-wrap">
                    <div class="ingredients__body-main-wrap-item">
                        <span class="h3-medium">A</span>
                        <div>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                        </div>
                    </div>
                    <div class="ingredients__body-main-wrap-item">
                        <span class="h3-medium">B</span>
                        <div>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                        </div>
                    </div>
                    <div class="ingredients__body-main-wrap-item">
                        <span class="h3-medium">C</span>
                        <div>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                            <a class="desc-regular" href="">
                                Ingredient Lorem
                            </a>
                        </div>
                    </div>
                </div>
                <button class="load-more btn-black">
                    Load More
                </button>
                <div class="banner">
                    <img class="desk" src="../images/dist/banner-in.webp" alt="">
                    <img class="mob" src="../images/dist/banner__mob.webp" alt="">
                    <span class="h5-regular">
                        Become a part of the club
                    </span>
                    <p class="desc-regular">
                        Join our Club and unlock more KusCoffee benefits!
                    </p>
                    <button class="btn-yellow">
                        Join the club
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>